<div class="contenido-menu">
  <div class="navigation">
      <ul>
          <li>
              <a>
                  <span class="icon">
                    <mat-icon>person</mat-icon>
                  </span>
                  <span class="title">SISTEMAS</span>
              </a>
          </li>
          <li>
              <a [routerLink]="['inicio']" routerLinkActive="activa">
                  <span class="icon">
                    <mat-icon>home</mat-icon>
                  </span>
                  <span class="title">Dashboard</span>
              </a>
          </li>
          <li>
              <a [routerLink]="['#']" routerLinkActive="activa">
                  <span class="icon">
                    <mat-icon>people</mat-icon>
                  </span>
                  <span class="title" routerLinkActive="activa">Usuarios</span>
              </a>
          </li>
          <li>
              <a [routerLink]="['#']" routerLinkActive="activa">
                  <span class="icon">
                    <mat-icon>desktop_mac</mat-icon>
                  </span>
                  <span class="title" routerLinkActive="activa">Equipos</span>
              </a>
          </li>
          <li>
              <a [routerLink]="['#']" routerLinkActive="activa">
                  <span class="icon">
                    <mat-icon>phone_android</mat-icon>
                  </span>
                  <span class="title" routerLinkActive="activa">Telefonos</span>
              </a>
          </li>
          <li>
              <a [routerLink]="['#']" routerLinkActive="activa">
                  <span class="icon">
                    <mat-icon>tablet_mac</mat-icon>
                  </span>
                  <span class="title" routerLinkActive="activa">Tablet</span>
              </a>
          </li>
          <li>
              <a [routerLink]="['#']" routerLinkActive="activa">
                  <span class="icon">
                    <mat-icon> local_printshop</mat-icon>
                  </span>
                  <span class="title" routerLinkActive="activa">Impresora</span>
              </a>
          </li>
          <li>
            <a [routerLink]="['#']" routerLinkActive="activa">
                <span class="icon">
                    <mat-icon>donut_small</mat-icon>
                </span>
                <span class="title" routerLinkActive="activa">Mantenimiento</span>
            </a>
        </li>
          <li>
              <a [routerLink]="['#']" (click)="confirmarCierreSesion()">
                  <span class="icon">
                    <mat-icon>exit_to_app</mat-icon>
                  </span>
                  <span class="title">Cerrar Sesion</span>
              </a>
          </li>
      </ul>
  </div>
</div>


<!-- Modal de Confirmación -->
<div class="mostrar-modal" *ngIf="mostrarModal">
    <div class="modal">
      <h2>¿Estás seguro?</h2>
      <div class="modal-botones">
        <button class="cancel-button" (click)="cancelarCierreSesion()">Cancelar</button>
        <button class="confirm-button" (click)="cerrarSesion()">Cerrar Sesion</button>
      </div>
    </div>
  </div>