<div class="contenedor-regEquipo">
  <form id="form-registro-equipo" [formGroup]="formularioEquipo" (ngSubmit)="registrarEquipo()"> 
    <div class="contenido">
  
      <div class="fila-de-tres">
        <div class="contenedor-imagen">
          <div class="contenido-img">
            <mat-icon class="icono-img-prod">image</mat-icon>
              <input type="file" id="archivo-producto" disabled="false">
              <div>
                <img *ngIf="imagenUrl && seleccionTipoEquipo !== '' && seleccionMarca !== '' && seleccionModelo !== ''" [src]="imagenUrl" alt="Imagen del Modelo" />
              </div>
          </div>
        </div>



        <!-----------------------  ----------------------->
        <!------------ OPCIONES DE EQUIPOS --------------->
        <!-----------------------  ----------------------->
                
      
        <div class="contenido-opcion">
            <label>TIPO DE EQUIPO</label>
            <select class="opcionForm select" [(ngModel)]="seleccionTipoEquipo" formControlName="tipoEquipo">
                <option value=""></option>
                <option value="Torre (Desktop)">Torre (Desktop)</option>
                <option value="Portatil (Laptop)">Portatil (Laptop)</option>
                <option value="Todo en Uno (All-in-One)">Todo en Uno (All-in-One)</option>
                <option value="Servidor (Server)">Servidor (Server)</option>
            </select>
        </div>

        <div class="contenido-opcion">
            <label>SERIAL:</label>
            <input class="opcionForm" type="text"  formControlName="serial">
        </div>  


        <!-----------------------  ----------------------->
        <!-- OPCIONES DE MARCAS SEGUN EL TIPO DE EQUIPO -->
        <!-----------------------  ----------------------->


        <div class="contenido-opcion">
          <label>MARCA</label>

           <select class="opcionForm select" [(ngModel)]="seleccionMarca" formControlName="marca"> 
              <option value=""></option>
              <option *ngIf="
                  seleccionTipoEquipo === 'Portatil (Laptop)' || 
                  seleccionTipoEquipo === 'Todo en Uno (All-in-One)'" 
                  value="ASUS">ASUS
              </option>
              <option *ngIf="
                  seleccionTipoEquipo === 'Torre (Desktop)' || 
                  seleccionTipoEquipo === 'Portatil (Laptop)' ||
                  seleccionTipoEquipo === 'Servidor (Server)'" 
                  value="DELL INC.">DELL INC.
              </option>
              <option *ngIf="
                  seleccionTipoEquipo === 'Torre (Desktop)' || 
                  seleccionTipoEquipo === 'Portatil (Laptop)' || 
                  seleccionTipoEquipo === 'Todo en Uno (All-in-One)' ||
                  seleccionTipoEquipo === 'Servidor (Server)'" 
                  value="HEWLETT PACKARD">HEWLETT PACKARD
              </option>
              <option *ngIf="
                  seleccionTipoEquipo === 'Torre (Desktop)' || 
                  seleccionTipoEquipo === 'Portatil (Laptop)' || 
                  seleccionTipoEquipo === 'Todo en Uno (All-in-One)'" 
                  value="LENOVO">LENOVO
              </option>
          </select>
        </div>
    

        <!-----------------------  ----------------------->
        <!------- OPCIONES DE MODELO SEGUN SU MARCA ------>
        <!-----------------------  ----------------------->

        
        <div class="contenido-opcion">
          <label>MODELO:</label>

          <select class="opcionForm select" [(ngModel)]="seleccionModelo" (ngModelChange)="ModeloSeleccionadoBuscarImg(seleccionModelo)" formControlName="modelo">
            <option value=""></option>
            <!-- ASUS -->
            <option *ngIf="seleccionMarca === 'ASUS' && seleccionTipoEquipo === 'Todo en Uno (All-in-One)'" value="ZEN AIO 0540">ZEN AIO 0540</option>
            <option *ngIf="seleccionMarca === 'ASUS' && seleccionTipoEquipo === 'Todo en Uno (All-in-One)'" value="EXPERT CENTER AIO E540">EXPERT CENTER AIO E540</option>
            <option *ngIf="seleccionMarca === 'ASUS' && seleccionTipoEquipo === 'Portatil (Laptop)'" value="VIVOBOOK M1503QA">VIVOBOOK M1503QA</option>
          
            <!-- DELL INC -->
            <option *ngIf="seleccionMarca === 'DELL INC.' && seleccionTipoEquipo === 'Torre (Desktop)' " value="INSPIRON 530">INSPIRON 530</option>
            <option *ngIf="seleccionMarca === 'DELL INC.' && seleccionTipoEquipo === 'Torre (Desktop)' " value="INSPIRON 545S">INSPIRON 545S</option>
            <option *ngIf="seleccionMarca === 'DELL INC.' && seleccionTipoEquipo === 'Torre (Desktop)' " value="INSPIRON 580S">INSPIRON 580S</option>
            <option *ngIf="seleccionMarca === 'DELL INC.' && seleccionTipoEquipo === 'Torre (Desktop)' " value="INSPIRON 620S">INSPIRON 620S</option>
            <option *ngIf="seleccionMarca === 'DELL INC.' && seleccionTipoEquipo === 'Torre (Desktop)' " value="INSPIRON 660S">INSPIRON 660S</option>
            <option *ngIf="seleccionMarca === 'DELL INC.' && seleccionTipoEquipo === 'Torre (Desktop)' " value="OPTIPLEX 3020">OPTIPLEX 3020</option>
            <option *ngIf="seleccionMarca === 'DELL INC.' && seleccionTipoEquipo === 'Torre (Desktop)' " value="OPTIPLEX 3050">OPTIPLEX 3050</option>
            <option *ngIf="seleccionMarca === 'DELL INC.' && seleccionTipoEquipo === 'Torre (Desktop)' " value="OPTIPLEX 3060">OPTIPLEX 3060</option>
            <option *ngIf="seleccionMarca === 'DELL INC.' && seleccionTipoEquipo === 'Torre (Desktop)' " value="OPTIPLEX 3080">OPTIPLEX 3080</option>
            <option *ngIf="seleccionMarca === 'DELL INC.' && seleccionTipoEquipo === 'Torre (Desktop)' " value="OPTIPLEX 3090">OPTIPLEX 3090</option>
            <option *ngIf="seleccionMarca === 'DELL INC.' && seleccionTipoEquipo === 'Torre (Desktop)' " value="OPTIPLEX 3090 MICRO">OPTIPLEX 3090 MICRO</option>
            <option *ngIf="seleccionMarca === 'DELL INC.' && seleccionTipoEquipo === 'Torre (Desktop)' " value="VOSTRO 200">VOSTRO 200</option>
            <option *ngIf="seleccionMarca === 'DELL INC.' && seleccionTipoEquipo === 'Torre (Desktop)' " value="VOSTRO 220S">VOSTRO 220S</option>
            <option *ngIf="seleccionMarca === 'DELL INC.' && seleccionTipoEquipo === 'Torre (Desktop)' " value="VOSTRO 260S">VOSTRO 260S</option>
            <option *ngIf="seleccionMarca === 'DELL INC.' && seleccionTipoEquipo === 'Torre (Desktop)' " value="VOSTRO 3250">VOSTRO 3250</option>
            <option *ngIf="seleccionMarca === 'DELL INC.' && seleccionTipoEquipo === 'Portatil (Laptop)'" value="VOSTRO 3490">VOSTRO 3490</option>
            <option *ngIf="seleccionMarca === 'DELL INC.' && seleccionTipoEquipo === 'Servidor (Server)' " value="POWER EDGE T300">POWER EDGE T300</option>
            <option *ngIf="seleccionMarca === 'DELL INC.' && seleccionTipoEquipo === 'Servidor (Server)' " value="POWER EDGE T110 II">POWER EDGE T110 II</option>

            <!-- HEWLETT PACKARD -->
            <option *ngIf="seleccionMarca === 'HEWLETT PACKARD' && seleccionTipoEquipo === 'Torre (Desktop)'" value="PRO DESK 400 G1">PRO DESK 400 G1</option>
            <option *ngIf="seleccionMarca === 'HEWLETT PACKARD' && seleccionTipoEquipo === 'Torre (Desktop)'" value="PRO DESK 600 G1">PRO DESK 600 G1</option>
            <option *ngIf="seleccionMarca === 'HEWLETT PACKARD' && seleccionTipoEquipo === 'Portatil (Laptop)'" value="245 G7">245 G7</option>
            <option *ngIf="seleccionMarca === 'HEWLETT PACKARD' && seleccionTipoEquipo === 'Portatil (Laptop)'" value="LAPTOP 15-GW0XXX">LAPTOP 15-GW0XXX</option>
            <option *ngIf="seleccionMarca === 'HEWLETT PACKARD' && seleccionTipoEquipo === 'Portatil (Laptop)'" value="PRO BOOK 440 G8">PRO BOOK 440 G8</option>
            <option *ngIf="seleccionMarca === 'HEWLETT PACKARD' && seleccionTipoEquipo === 'Portatil (Laptop)'" value="PRO BOOK 445 G8">PRO BOOK 445 G8</option>
            <option *ngIf="seleccionMarca === 'HEWLETT PACKARD' && seleccionTipoEquipo === 'Todo en Uno (All-in-One)'" value="DESKTOP 24-CB-1">DESKTOP 24-CB-1</option>
            <option *ngIf="seleccionMarca === 'HEWLETT PACKARD' && seleccionTipoEquipo === 'Todo en Uno (All-in-One)'" value="PRO ONE 440">PRO ONE 440</option>
            <option *ngIf="seleccionMarca === 'HEWLETT PACKARD' && seleccionTipoEquipo === 'Servidor (Server)'" value="PRO LIANT ML110 GEN9">PRO LIANT ML110 GEN9</option>
            <option *ngIf="seleccionMarca === 'HEWLETT PACKARD' && seleccionTipoEquipo === 'Servidor (Server)'" value=""></option>

            <!-- LENOVO -->
            <option *ngIf="seleccionMarca === 'LENOVO' && seleccionTipoEquipo === 'Torre (Desktop)'" value="SFF V530S">SFF V530S</option>
            <option *ngIf="seleccionMarca === 'LENOVO' && seleccionTipoEquipo === 'Portatil (Laptop)'" value="ThinkPad 21JQ">ThinkPad 21JQ</option>
            <option *ngIf="seleccionMarca === 'LENOVO' && seleccionTipoEquipo === 'Portatil (Laptop)'" value="80Sx">80Sx</option>
            <option *ngIf="seleccionMarca === 'LENOVO' && seleccionTipoEquipo === 'Todo en Uno (All-in-One)'" value="F0G100T0LD">F0G100T0LD</option>
          </select>
        </div>

        <!-----------------------  ----------------------->
        <!------------ SISTEMAS OPERATIVOS --------------->
        <!-----------------------  ----------------------->

        <div class="contenido-opcion">
          <label>SISTEMA OPERATIVO</label>
          <select class="opcionForm select" [(ngModel)]="seleccionSistemaOperativo" formControlName="sistemaOperativo">
            <option value=""></option>
              <option value="WINDOWS">WINDOWS</option>
              <option value="LINUX">LINUX</option>
          </select>
        </div>

        <div class="contenido-opcion">
          <label>VERSION S.O.</label>
          <select class="opcionForm select" [(ngModel)]="seleccionSistemaOperativoVersion" formControlName="versionSistemaOperativo">
            <option value=""></option> <!-- Siempre visible -->
        
            <!-- Opciones para WINDOWS -->
            <option *ngIf="seleccionSistemaOperativo === 'WINDOWS'" value="WINDOWS XP">WINDOWS XP</option>
            <option *ngIf="seleccionSistemaOperativo === 'WINDOWS'" value="WINDOWS VISTA">WINDOWS VISTA</option>
            <option *ngIf="seleccionSistemaOperativo === 'WINDOWS'" value="WINDOWS 7">WINDOWS 7</option>
            <option *ngIf="seleccionSistemaOperativo === 'WINDOWS'" value="WINDOWS 8">WINDOWS 8</option>
            <option *ngIf="seleccionSistemaOperativo === 'WINDOWS'" value="WINDOWS 10">WINDOWS 10</option>
            <option *ngIf="seleccionSistemaOperativo === 'WINDOWS'" value="WINDOWS 11">WINDOWS 11</option>
        
            <!-- Opciones para LINUX -->
            <option *ngIf="seleccionSistemaOperativo === 'LINUX'" value="UBUNTU">UBUNTU</option>
            <option *ngIf="seleccionSistemaOperativo === 'LINUX'" value="DEBIAN">DEBIAN</option>
            <option *ngIf="seleccionSistemaOperativo === 'LINUX'" value="FEDORA">FEDORA</option>
          </select>
        </div>

        <!-----------------------  ----------------------->
        <!--------------------- BITS --------------------->
        <!-----------------------  ----------------------->

        <div class="contenido-opcion">
          <label>BITS</label>
          <select class="opcionForm select" formControlName="bits">
              <option value=""></option>
              <option value="32">32</option>
              <option value="64">64</option>
          </select>
        </div>

        <!-----------------------  ----------------------->
        <!---------------------- RAM --------------------->
        <!-----------------------  ----------------------->

        <div class="contenido-opcion">
          <label>TAMAÑO RAM</label>
          <select class="opcionForm select" formControlName="ram">
            <option value=""></option>
            <option value="1GB">1GB</option>
            <option value="2GB">2GB</option>
            <option value="3GB">3GB</option>
            <option value="4GB">4GB</option>
            <option value="6GB">6GB</option>
            <option value="8GB">8GB</option>
            <option value="12GB">12GB</option>
            <option value="16GB">16GB</option>
            <option value="24GB">24GB</option>
            <option value="32GB">32GB</option>
            <option value="64GB">64GB</option>
          </select>
        </div>

        <div class="contenido-opcion">
          <label>TIPO DE RAM</label>
          <select class="opcionForm select" formControlName="tipoRam">
            <option value=""></option>
            <option value="DDR2">DDR2</option>
            <option value="DDR3">DDR3</option>
            <option value="DDR4">DDR4</option>
            <option value="DDR5">DDR5</option>
          </select>
        </div>
        
        <!-----------------------  ----------------------->
        <!------------------ PROCESADOR ------------------>
        <!-----------------------  ----------------------->

        <div class="contenido-opcion">
          <label>PROCESADOR</label>
          <input class="opcionForm" type="text" formControlName="procesador">
        </div>

        <!-----------------------  ----------------------->
        <!--------------------- DISCO -------------------->
        <!-----------------------  ----------------------->
  
        <div class="contenido-opcion">
          <label>TAMAÑO DISCO</label>
          <select class="opcionForm select" formControlName="disco">
            <option value=""></option>
            <option value="128GB">128GB</option>
            <option value="250GB">250GB</option>
            <option value="500GB">500GB</option>
            <option value="1TB">1TB</option>
          </select>
        </div>

        <div class="contenido-opcion">
          <label>TIPO DE DISCO</label>
          <select class="opcionForm select" formControlName="tipoDisco">
            <option value=""></option>
            <option value="SSD">SSD</option>
            <option value="HDD">HDD</option>
            <option value="SSD + HDD">SSD + HDD</option>
          </select>
        </div>
        
        <div class="contenido-opcion">
          <label>NUMERO DE PLACA</label>
          <input class="opcionForm" type="text" formControlName="plaqueta">
        </div>

        <div class="contenido-opcion">
          <label>FACTURA</label>
          <input class="opcionForm" type="text" formControlName="ordenCompra">
        </div>

        <div class="contenido-opcion">
          <label>FECHA DE COMPRA</label>
          <input class="opcionForm" type="date" formControlName="fechaCompra">
        </div>

        <div class="contenido-opcion">
          <label>ESTADO</label>
          <select class="opcionForm select" formControlName="estado">
              <option value="NUEVO" title="El equipo está en perfectas condiciones, puede ser un equipo recién adquirido o recién salido de la fábrica.">NUEVO</option>
              <option value="BUEN ESTADO" title="El equipo está funcionando correctamente, Es un equipo que todavía cumple su función de manera eficiente.">BUEN ESTADO</option>
              <option value="ESTADO REGULAR" title="El equipo muestra algunos signos de desgaste o mal uso, pero aún es funcional.">ESTADO REGULAR</option>
              <option value="ESTADO DEFICIENTE" title="El equipo tiene daños visibles y/o problemas de funcionamiento que afectan su rendimiento.  Es posible que aún funcione, pero no de manera óptima.">ESTADO DEFICIENTE</option>
              <option value="INOPERATIVO" title="El equipo ya no está operativo debido a fallas graves en el hardware.">INOPERATIVO</option>
          </select>
        </div>
      
        <div class="contenido-opcion textarea">
          <label for="descripcion">DESCRIPCION:</label>
          <textarea formControlName="descripcion"> </textarea>
        </div>

        <div>
          <input type="submit" id="submitInput" value="Enviar">
          <label for="submitInput" class="bookmark">
            <mat-icon>bookmark</mat-icon>
          </label>
      </div>
        
      
      </div>
    </div>
  </form>
</div>
<br><br><br>