<div class="contendido-servicios">
    <div class="contenedor">
        <div class="carta" [ngClass]="{'selected': componenteActivo === 'usuario'}">
            <div class="contenedor-caja">
                <div class="contenido"  (click)="mostrarComponenteRegistroUsuario()">
                    <mat-icon>perm_identity</mat-icon>
                    <h3>Usuario</h3>
                </div>
            </div>
        </div>
        <div class="carta" [ngClass]="{'selected': componenteActivo === 'equipo'}">
            <div class="contenedor-caja">
                <div class="contenido" (click)="mostrarComponenteRegistroEquipo()">
                    <mat-icon>desktop_mac</mat-icon>
                    <h3>Equipo</h3>
                </div>
            </div>
        </div>
        <div class="carta" [ngClass]="{'selected': componenteActivo === 'telefono'}">
            <div class="contenedor-caja">
                <div class="contenido" (click)="mostrarComponenteRegistroTelefono()">
                    <mat-icon>phone_android</mat-icon>
                    <h3>Telefono</h3>
                </div>
            </div>
        </div>
        <div class="carta" [ngClass]="{'selected': componenteActivo === 'tablet'}">
            <div class="contenedor-caja">
                <div class="contenido" (click)="mostrarComponenteRegistroTablet()">
                    <mat-icon>tablet_mac</mat-icon>
                    <h3>Tablet</h3>
                </div>
            </div>
        </div>
        <div class="carta" [ngClass]="{'selected': componenteActivo === 'impresora'}">
            <div class="contenedor-caja">
                <div class="contenido" (click)="mostrarComponenteRegistroImpresora()">
                    <mat-icon>print</mat-icon>
                    <h3>Impresora</h3>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="componenteActivo === 'usuario'">
        <app-reg-usuario></app-reg-usuario> <!-- Llamamos a RegUsuarioComponent -->
    </div>

    <div *ngIf="componenteActivo === 'equipo'">
        <app-reg-equipo></app-reg-equipo> <!-- Llamamos a RegUsuarioComponent -->
    </div>

    <div *ngIf="componenteActivo === 'telefono'">
        <app-reg-telefono></app-reg-telefono> <!-- Llamamos a RegUsuarioComponent -->
    </div>

    <div *ngIf="componenteActivo === 'tablet'">
        <app-reg-tablet></app-reg-tablet> <!-- Llamamos a RegUsuarioComponent -->
    </div>

    <div *ngIf="componenteActivo === 'impresora'">
        <app-reg-impresora></app-reg-impresora> <!-- Llamamos a RegUsuarioComponent -->
    </div>

</div>