<div class="contendido-servicios">
    <div class="contenedor">
        <div class="carta">
            <div class="contenedor-caja">
                <div class="contenido">
                    <mat-icon>perm_identity</mat-icon>
                    <h3>Usuario</h3>
                </div>
            </div>
        </div>
        <div class="carta">
            <div class="contenedor-caja">
                <div class="contenido">
                    <mat-icon>desktop_mac</mat-icon>
                    <h3>Equipo</h3>
                </div>
            </div>
        </div>
        <div class="carta">
            <div class="contenedor-caja">
                <div class="contenido">
                    <mat-icon>phone_android</mat-icon>
                    <h3>Telefono</h3>
                </div>
            </div>
        </div>
        <div class="carta">
            <div class="contenedor-caja">
                <div class="contenido">
                    <mat-icon>tablet_mac</mat-icon>
                    <h3>Tablet</h3>
                </div>
            </div>
        </div>
        <div class="carta">
            <div class="contenedor-caja">
                <div class="contenido">
                    <mat-icon>print</mat-icon>
                    <h3>Impresora</h3>
                </div>
            </div>
        </div>
    </div>
</div>