<div class="contenedor-regUsuario">
    <form id="form-registro-producto">
      <div class="contenido">
  
        <!-- Nueva fila con 3 columnas -->
        <div class="fila-de-tres">
          <p>
            <label>CEDULA:</label>
            <input class="opcionForm" type="number" min="0">
          </p>  
          <p>
            <label>APELLIDO:</label>
            <input class="opcionForm" type="text">
          </p>
          <p>
            <label>NOMBRE:</label>
            <input class="opcionForm" type="text">
          </p>
          <p>
            <label>AREA</label>
            <select class="opcionForm select">
                <option value=""></option><br>
            </select>
          </p>
          <p>
            <label>CARGO</label>
            <input class="opcionForm" type="text">
          </p>
          <p>
            <label>INFORMACION CRITICA</label>
            <select class="opcionForm select">
              <option value=""></option>
            </select>
          </p>
     
        
        <p>
          <label>CORREO CORPORATIVO</label>
          <input class="opcionForm" type="text">
        </p>
        <p>
          <label>CONTRASEÑA CORREO</label>
          <input class="opcionForm" type="text">
        </p>
        <p>
          <label>EXT. TEL.</label>
          <input class="opcionForm" type="number" min="0">
        </p>
        </div>
  
  
        <!-- Nueva fila con 2 columnas -->
        <div class="fila-de-dos">
          
          <p>
            <label>FECHA DE INGRESO</label>
            <input class="opcionForm" type="date">
          </p>
          <p class="checkbox-wrapper-10">
            <label>ESTADO</label>
            <input type="checkbox" id="cb5" class="tgl tgl-flip" checked disabled>
            <label for="cb5" data-tg-on="ACTIVO" data-tg-off="INACTIVO" class="tgl-btn"></label>
          </p> 
        </div>
  
        <div>
          <input type="checkbox" id="checkboxInput">
          <label for="checkboxInput" class="bookmark">
            <mat-icon>bookmark</mat-icon>
          </label>
        </div>
      </div>
  
      
    </form>
  </div>
  <br><br><br><br>
  