<div class="contenedor-regUsuario">
  <form id="form-registro-producto"  [formGroup]="formularioUsuario" (ngSubmit)="registrarUsuario()">
    <div class="contenido">

      <!-- Nueva fila con 3 columnas -->
      <div class="fila-de-tres">

        <div class="contenido-opcion">
          <label>CEDULA:</label>
          <input class="opcionForm" type="number" min="0"  formControlName="cedula">
          <div *ngIf="validacionFormRegUsuario('cedula')">
            <mat-icon class="icono-validacion" matTooltip="Campo Obligatorio" matTooltipPosition="above">error</mat-icon>
          </div>
        </div>  

        <div class="contenido-opcion">
          <label>APELLIDO:</label>
          <input class="opcionForm" type="text" formControlName="apellido">
          <div *ngIf="validacionFormRegUsuario('apellido')">
            <mat-icon class="icono-validacion" matTooltip="Campo Obligatorio" matTooltipPosition="above">error</mat-icon>
          </div>
        </div>

        <div class="contenido-opcion">
          <label>NOMBRE:</label>
          <input class="opcionForm" type="text" formControlName="nombre">
          <div *ngIf="validacionFormRegUsuario('nombre')">
            <mat-icon class="icono-validacion" matTooltip="Campo Obligatorio" matTooltipPosition="above">error</mat-icon>
          </div>
        </div>

        <div class="contenido-opcion">
          <label>AREA</label>
          <select class="opcionForm select" formControlName="area">
              <option value=""></option>
              <option value="ADMINISTRACION">ADMINISTRACION</option>
              <option value="ALMACEN">ALMACEN</option>
              <option value="ARCHIVO">ARCHIVO</option>
              <option value="COMPRAS">COMPRAS</option>
              <option value="CONTABILIDAD">CONTABILIDAD</option>
              <option value="DIRECTIVOS">DIRECTIVOS</option>
              <option value="ESTADISTICA">ESTADISTICA</option>
              <option value="EXPORTACIONES">EXPORTACIONES</option>
              <option value="FACTURACION">FACTURACION</option>
              <option value="FESAGA">FESAGA</option>
              <option value="GESTION HUMANA">GESTION HUMANA</option>
              <option value="LABORATORIO">LABORATORIO</option>
              <option value="MANTENIMIENTO">MANTENIMIENTO</option>
              <option value="NOMINA">NOMINA</option>
              <option value="POSTCOSECHA CLAVEL">POSTCOSECHA CLAVEL</option>
              <option value="POSTCOSECHA ROSAS (ROJO)">POSTCOSECHA ROSAS (ROJO)</option>
              <option value="POSTCOSECHA ROSAS (VARIEDAD)">POSTCOSECHA ROSAS (VARIEDAD)</option>
              <option value="POSTCOSECHA ROSAS (MESANINE)">POSTCOSECHA ROSAS (MESANINE)</option>
              <option value="POSTCOSECHA (RECEPCION)">POSTCOSECHA (RECEPCION)</option>
              <option value="PRODUCCION">PRODUCCION</option>
              <option value="SGI">SGI</option>
              <option value="SISTEMAS">SISTEMAS</option>
              <option value="SG-SST">SG-SST</option>
              <option value="VENTAS">VENTAS</option>
          </select>
          <div *ngIf="validacionFormRegUsuario('area')">
            <mat-icon class="icono-validacion" matTooltip="Campo Obligatorio" matTooltipPosition="above">error</mat-icon>
          </div>
        </div>

        <div class="contenido-opcion">
          <label>CARGO</label>
          <input class="opcionForm" type="text" formControlName="cargo">
          <div *ngIf="validacionFormRegUsuario('cargo')">
            <mat-icon class="icono-validacion" matTooltip="Campo Obligatorio" matTooltipPosition="above">error</mat-icon>
          </div>
        </div>

        <div class="contenido-opcion">
          <label>INFORMACION CRITICA</label>
          <select class="opcionForm select" formControlName="infCritica">
            <option value=""></option>
            <option value="SI">SI</option>
            <option value="NO">NO</option>
          </select>
          <div *ngIf="validacionFormRegUsuario('infCritica')">
            <mat-icon class="icono-validacion" matTooltip="Campo Obligatorio" matTooltipPosition="above">error</mat-icon>
          </div>
        </div>
   
      
      <div class="contenido-opcion">
        <label>CORREO CORPORATIVO</label>
        <input class="opcionForm" type="text" formControlName="correo">
        <div *ngIf="validacionFormRegUsuario('correo')">
          <mat-icon class="icono-validacion" matTooltip="Formato de correo inválido" matTooltipPosition="above">error</mat-icon>
        </div>
      </div>

      <div class="contenido-opcion">
        <label>CONTRASEÑA CORREO</label>
        <input class="opcionForm-contra" type="text" formControlName="claveCorreo" [type]="mostrarOcultarClave ? 'password' : 'text'">
          <a (click)="mostrarOcultarClave = !mostrarOcultarClave">
              <mat-icon class="icon-mostrar-ocultar">{{ mostrarOcultarClave ? "visibility" : "visibility_off" }}</mat-icon>
          </a>
        <div *ngIf="validacionFormRegUsuario('claveCorreo')">
          <mat-icon class="icono-validacion" matTooltip="Campo Obligatorio" matTooltipPosition="above">error</mat-icon>
        </div>
      </div>

      <div class="contenido-opcion">
        <label>EXT. TEL.</label>
        <input class="opcionForm" type="number" min="0" formControlName="extenciontel">
        <div *ngIf="validacionFormRegUsuario('extenciontel')">
          <mat-icon class="icono-validacion" matTooltip="Campo Obligatorio" matTooltipPosition="above">error</mat-icon>
        </div>
      </div>

    </div>


      <!-- Nueva fila con 2 columnas -->
      <div class="fila-de-dos">
        
        <div class="contenido-opcion">
          <label>FECHA DE INGRESO</label>
          <input class="opcionForm" type="date" formControlName="fechaIngreso">
          <div *ngIf="validacionFormRegUsuario('fechaIngreso')">
            <mat-icon class="icono-fecha-validacion" matTooltip="Ingresa una fecha valida" matTooltipPosition="above">error</mat-icon>
          </div>
        </div>

        <div class="checkbox-wrapper-10">
          <label>ESTADO</label>
          <input type="checkbox" id="cb5" class="tgl tgl-flip" checked disabled>
          <label for="cb5" data-tg-on="ACTIVO" data-tg-off="INACTIVO" class="tgl-btn"></label>
        </div> 
      </div>

      <div>
          <input type="submit" id="submitInput" value="Enviar">
          <label for="submitInput" class="bookmark">
            <mat-icon>bookmark</mat-icon>
          </label>
      </div>
    </div>

   
  </form>
</div>
<br><br><br><br>
