<div class="contenedor-regUsuario">
  <form id="form-registro-producto"  [formGroup]="formularioUsuario" (ngSubmit)="registrarUsuario()">
    <div class="contenido">

      <!-- Nueva fila con 3 columnas -->
      <div class="fila-de-tres">
        <p>
          <label>CEDULA:</label>
          <input class="opcionForm" type="number" min="0"  formControlName="cedula">
        </p>  
        <p>
          <label>APELLIDO:</label>
          <input class="opcionForm" type="text" formControlName="apellido">
        </p>
        <p>
          <label>NOMBRE:</label>
          <input class="opcionForm" type="text" formControlName="nombre">
        </p>
        <p>
          <label>AREA</label>
          <select class="opcionForm select" formControlName="area">
              <option value=""></option>
              <option value="ADMINISTRACION">ADMINISTRACION</option>
              <option value="ALMACEN">ALMACEN</option>
              <option value="ARCHIVO">ARCHIVO</option>
              <option value="COMPRAS">COMPRAS</option>
              <option value="CONTABILIDAD">CONTABILIDAD</option>
              <option value="DIRECTIVOS">DIRECTIVOS</option>
              <option value="ESTADISTICA">ESTADISTICA</option>
              <option value="EXPORTACIONES">EXPORTACIONES</option>
              <option value="FACTURACION">FACTURACION</option>
              <option value="FESAGA">FESAGA</option>
              <option value="GESTION HUMANA">GESTION HUMANA</option>
              <option value="LABORATORIO">LABORATORIO</option>
              <option value="MANTENIMIENTO">MANTENIMIENTO</option>
              <option value="NOMINA">NOMINA</option>
              <option value="POSTCOSECHA CLAVEL">POSTCOSECHA CLAVEL</option>
              <option value="POSTCOSECHA ROSAS (ROJO)">POSTCOSECHA ROSAS (ROJO)</option>
              <option value="POSTCOSECHA ROSAS (VARIEDAD)">POSTCOSECHA ROSAS (VARIEDAD)</option>
              <option value="POSTCOSECHA ROSAS (MESANINE)">POSTCOSECHA ROSAS (MESANINE)</option>
              <option value="POSTCOSECHA (RECEPCION)">POSTCOSECHA (RECEPCION)</option>
              <option value="PRODUCCION">PRODUCCION</option>
              <option value="SGI">SGI</option>
              <option value="SISTEMAS">SISTEMAS</option>
              <option value="SG-SST">SG-SST</option>
              <option value="VENTAS">VENTAS</option>
          </select>
        </p>
        <p>
          <label>CARGO</label>
          <input class="opcionForm" type="text" formControlName="cargo">
        </p>
        <p>
          <label>INFORMACION CRITICA</label>
          <select class="opcionForm select" formControlName="infCritica">
            <option value=""></option>
            <option value="SI">SI</option>
            <option value="NO">NO</option>
          </select>
        </p>
   
      
      <p>
        <label>CORREO CORPORATIVO</label>
        <input class="opcionForm" type="text" formControlName="correo">
      </p>
      <p>
        <label>CONTRASEÑA CORREO</label>
        <input class="opcionForm" type="text" formControlName="claveCorreo">
      </p>
      <p>
        <label>EXT. TEL.</label>
        <input class="opcionForm" type="number" min="0" formControlName="extenciontel">
      </p>
      </div>


      <!-- Nueva fila con 2 columnas -->
      <div class="fila-de-dos">
        
        <p>
          <label>FECHA DE INGRESO</label>
          <input class="opcionForm" type="date" formControlName="fechaIngreso">
        </p>
        <p class="checkbox-wrapper-10">
          <label>ESTADO</label>
          <input type="checkbox" id="cb5" class="tgl tgl-flip" checked disabled>
          <label for="cb5" data-tg-on="ACTIVO" data-tg-off="INACTIVO" class="tgl-btn"></label>
        </p> 
      </div>

      <div>
          <input type="submit" id="submitInput" value="Enviar">
          <label for="submitInput" class="bookmark">
            <mat-icon>bookmark</mat-icon>
          </label>
      </div>
    </div>

   
  </form>
</div>
<br><br><br><br>
