<div class="contenido-inventario-sistemas" [class.menu-minimizado]="menuMinimizado">
  
  <!-- Contenido que depende del inicio de sesión -->
  <div *ngIf="isSesionIniciada$ | async">
    <div class="menu">
      <a (click)="menuMinMax()" class="boton-menu">
        <mat-icon>menu</mat-icon>
      </a>
      <app-menu></app-menu>
      <a class="boton-admin" [routerLink]="['/registro/opciones']">
        <mat-icon>add_box</mat-icon>
      </a>
    </div>
  </div>

  <!-- El router-outlet siempre se muestra -->
  <div class="pagina-dinamica">
    <router-outlet></router-outlet>
  </div>
</div>